/* Your Global Styles */
:root {
    --lpx-brand: #FFCC33;
    --bs-pagination-active-bg: #FFCC33;
    --font-color-primary: #161616;
}

.pagination .page-item.active .page-link {
    color: var(--font-color-primary) !important;
    font-weight: 500;
    border-radius: 0.6rem;
    background-color: var(--lpx-brand) !important;
}

.btn-primary {
    --bs-btn-color: var(--font-color-primary);
    --bs-btn-bg: var(--lpx-brand);
    --bs-btn-border-color: var(--lpx-brand);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #F2C23C;
    --bs-btn-hover-border-color: #F2C23C;
    --bs-btn-focus-shadow-rgb: 255, 204, 51;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #F2C23C;
    --bs-btn-active-border-color: #F2C23C;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #355dff;
    --bs-btn-disabled-border-color: #355dff;
}

.btn-outline-primary {
    --bs-btn-color: var(--lpx-brand);
    --bs-btn-border-color: var(--lpx-brand);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--lpx-brand);
    --bs-btn-hover-border-color: var(--lpx-brand);
    --bs-btn-focus-shadow-rgb: 53, 93, 255;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--lpx-brand);
    --bs-btn-active-border-color: var(--lpx-brand);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: var(--lpx-brand);
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: var(--lpx-brand);
    --bs-gradient: none;
}

.form-check-input:checked {
    border-color: var(--lpx-brand) !important;
    background-color: var(--lpx-brand);
}

:root .lpx-brand-logo {
    --lpx-logo: url('/upload_images/logo/logo-thumb.png');
    --lpx-logo-icon: url('/upload_images/logo/logo.png');
}

.dataTables_scrollHeadInner, .table {
    width: 100% !important;
}

.hidden {
    display: none
}

.upload-check-cropper {
    padding-left: 30px;
    padding-top: 8px;
    color: rgb(51, 253, 0);
}

.avatarWarning-Color {
    color: rgb(255, 0, 0);
}

.icon-size {
    font-size: 25px;
}

.upload-check-cropper-rowPadding {
    padding-top: 10px;
}

.check-star {
    color: var(--lpx-brand);
}

.is-checked {
    color: green;
}

.isnt-checked {
    color: red;
}

.worker-status-free {
    color: green;
}

.worker-status-busy {
    color: red;
}

.order-status {
    padding: 5px 10px;
    margin-bottom: 0;
    border-style: solid;
    border-width: thin;
    border-radius: 10px;
    text-align: center;
}

.order-status.status-0 {
    color: var(--lpx-brand);
    border-color: var(--lpx-brand);
}

.order-status.status-1 {
    color: red;
    border-color: red;
}

.order-status.status-2 {
    color: green;
    border-color: green;
}

.order-status.status-3 {
    color: var(--lpx-brand);
    border-color: var(--lpx-brand);
}

.order-status.status-4 {
    color: red;
    border-color: red;
}

.order-status.status-5 {
    color: green;
    border-color: green;
}

.order-status.status-6 {
    color: var(--lpx-brand);
    border-color: var(--lpx-brand);
}

.icon-type-of-job {
    height: 20px;
}

.price {
    font-weight: bold;
}

