/* Your Global Styles */

:root .lpx-brand-logo {
    --lpx-logo: url('/images/logo/leptonx/logo-light.png');
    --lpx-logo-icon: url('/images/logo/leptonx/logo-light-thumbnail.png');
}

.dataTables_scrollHeadInner, .table {
    width: 100% !important;
}

.hidden {
    display: none
}

.upload-check-cropper {
    padding-left: 30px;
    padding-top: 8px;
    color: rgb(51, 253, 0);
}

.avatarWarning-Color {
    color: rgb(255, 0, 0);
}

.icon-size {
    font-size: 25px;
}

.upload-check-cropper-rowPadding {
    padding-top: 10px;
}